
/* Pour transformer les listes numérotées en questions  */

.rst-content ol.arabic > li {
	counter-increment: question; /* on incrémente le compteur à chaque nouveau li */
	margin-bottom: 1rem;
	list-style: none;
}

.rst-content ol.arabic > li:before {
  content: "Question "counter(question) ". ";
  font-weight: bold;
}

h1, h2{
    counter-reset: question;
}

.exo+div>h1:before{
  content: "Exercice ";
}


.rst-content dl dt code.descname{
   font-style: italic;
  font-weight: normal !important;
}

.rst-content dl dt code.descname::before{
    content: "Objectif : ";

}

.rst-content dl:not(.docutils) dt
{
  font-size:70%;
  border-top:none;


}
